<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách phòng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/manager_room_teacher.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <div class="sidebar">
        <a href="/manager_room_teacher">Danh sách phòng</a>
        <a href="/register_room">Đăng ký sử dụng phòng</a>
        <a href="/schedule_teacher">Lịch giảng dạy</a>    
        <a href="/manager_account_teacher">Tài khoản</a>  
    </div>

    <div class="content">
        <h2>Danh sách phòng</h2>
        <div id="rooms-list">
            {% for room in rooms %}
            <div class="room">
                <p>Phòng: {{ room['name'] }}</p>
                <p>ID: {{ room['id_room'] }}</p>
                <p>{{ room['type'] }}</p>
                <p>Số chỗ: {{ room['slot'] }}</p>
                <p>Số thiết bị: {{ room['device'] }}</p>
                <p>Trạng thái: 
                    {% if room['state'] == 'open' %}
                        <span class="text-green">Mở</span>
                    {% elif room['state'] == 'close' %}
                        <span class="text-red">Khóa</span>
                    {% else %}
                        Không xác định
                    {% endif %}
                </p>
                <button data-room-id="{{ room['name'] }}">Trạng thái sử dụng</button>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Tình trạng sử dụng</h2>
            <form id="modalForm" method="POST">
                <label for="date">Ngày:</label>
                <input type="text" id="dateInput" name="date" placeholder="Chọn ngày">
                <br>
                <button type="button" id="submitBtn">Submit</button>
            </form>

            <table id="morningTable" class="hidden">
                <thead>
                    <tr>
                        <th colspan="2">Buổi sáng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ID đăng ký</th>
                        <td id="morningIdRegister"></td>
                    </tr>
                    <tr>
                        <th>Giáo viên</th>
                        <td id="morningTeacher"></td>
                    </tr>
                    <tr>
                        <th>Môn học</th>
                        <td id="morningSubject"></td>
                    </tr>
                </tbody>
            </table>

            <table id="afternoonTable" class="hidden">
                <thead>
                    <tr>
                        <th colspan="2">Buổi chiều</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ID đăng ký</th>
                        <td id="afternoonIdRegister"></td>
                    </tr>
                    <tr>
                        <th>Giáo viên</th>
                        <td id="afternoonTeacher"></td>
                    </tr>
                    <tr>
                        <th>Môn học</th>
                        <td id="afternoonSubject"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button id="filterRoomBtn"></button>
    <div id="filterRoomModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Tìm kiếm</h2>
            <form id="filterRoomForm">
                <label for="filterState">Trạng thái:</label>
                <select id="filterState" name="filter_state">
                    <option value="all">Tất cả</option>
                    <option value="open">Mở</option>
                    <option value="close">Khóa</option>
                </select>
                <label for="filterName">Tên Phòng:</label>
                <input type="text" id="filterName" name="filter_name" placeholder="Nhập tên phòng">
                <button type="submit" id="applyFilterBtn">Áp dụng</button>
            </form>
        </div>
    </div>    
    <p id="realtime-data"></p>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#dateInput").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });

        function updateRealtimeData() {
            var currentDate = new Date();
            var currentTime = currentDate.toLocaleTimeString();
            document.getElementById("realtime-data").innerHTML = "Tài khoản: {{ user_name }}, " + currentTime;
        }

        setInterval(updateRealtimeData, 1000);

        window.onload = function () {
            var moreActionsButtons = document.querySelectorAll('.room button');
            var currentNameRoom;

            moreActionsButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    currentNameRoom = this.getAttribute('data-room-id');
                    console.log('Room ID:', currentNameRoom);

                    var modal = document.getElementById('myModal');
                    if (modal) {
                        modal.style.display = "block";
                        document.getElementById('morningTable').classList.add('hidden');
                        document.getElementById('afternoonTable').classList.add('hidden');
                    }
                });
            });

            var submitBtn = document.getElementById('submitBtn');
            submitBtn.addEventListener('click', function (event) {
                event.preventDefault();

                var form = document.getElementById('modalForm');
                var formData = new FormData();
                formData.append('name', currentNameRoom);
                formData.append('date', document.getElementById('dateInput').value);
                console.log(formData);

                fetch('/status_room', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else if (response.status === 404) {
                        document.getElementById('morningTable').classList.add('hidden');
                        document.getElementById('afternoonTable').classList.add('hidden');
                        console.error('No data found');
                        return null;
                    } else {
                        console.error('Failed to update');
                    }
                }).then(data => {
                    if (data) {

                        document.getElementById('morningTable').classList.add('hidden');
                        document.getElementById('afternoonTable').classList.add('hidden');

                        data.forEach(record => {
                            if (record.session === 'sáng') {
                                document.getElementById('morningIdRegister').innerText = record.id_register;
                                document.getElementById('morningTeacher').innerText = record.teacher;
                                document.getElementById('morningSubject').innerText = record.subject;
                                document.getElementById('morningTable').classList.remove('hidden');
                            } else if (record.session === 'chiều') {
                                document.getElementById('afternoonIdRegister').innerText = record.id_register;
                                document.getElementById('afternoonTeacher').innerText = record.teacher;
                                document.getElementById('afternoonSubject').innerText = record.subject;
                                document.getElementById('afternoonTable').classList.remove('hidden');
                            }
                        });
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    document.getElementById('morningTable').classList.add('hidden');
                    document.getElementById('afternoonTable').classList.add('hidden');
                });
            });

            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        };
        var filterRoomBtn = document.getElementById('filterRoomBtn');
    var filterRoomModal = document.getElementById('filterRoomModal');
    var closeFilterRoomModal = filterRoomModal.getElementsByClassName('close')[0];

    filterRoomBtn.onclick = function () {
        filterRoomModal.style.display = "block";
    }

    closeFilterRoomModal.onclick = function () {
        filterRoomModal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == filterRoomModal) {
            filterRoomModal.style.display = "none";
        }
    }
    var filterRoomForm = document.getElementById('filterRoomForm');
    filterRoomForm.addEventListener('submit', function (event) {
        event.preventDefault();
        var filterState = document.getElementById('filterState').value;
        var filterName = document.getElementById('filterName').value;
        console.log(filterState);
        if (filterState == "all") {
            var rooms = document.querySelectorAll('.room');
            rooms.forEach(function (room) {
                room.style.display = "block";
            });
            return;
        }
        if (filterState == "open") {
            filterState = "Mở";
        } else if (filterState == "close") {
            filterState = "Khóa";
        }
        var rooms = document.querySelectorAll('.room');
        rooms.forEach(function (room) {
            var roomState = room.querySelector('p:nth-of-type(6)').innerText.trim().split(': ')[1];
            var roomName = room.querySelector('p:nth-of-type(1)').innerText.trim().split(': ')[1];
            console.log(roomState);
            console.log(filterState);
            console.log(roomName);
            console.log(filterName);
            if ((roomState == filterState || filterState == 'all') && (roomName.includes(filterName) || filterName === '')) {
                room.style.display = "block";
            } else {
                room.style.display = "none";
            }
        });
    });
    </script>

</body>

</html>
