body {
    font-family: Arial, sans-serif;
    background-image: url('../../static/img/background_dash2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
    position: relative;
    font-size: 18px;
    padding: 10px;
}

.notification-icon,
.account-icon {
    width: 24px;
    height: auto;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #cccccc;
}

.sidebar {
    height: 100%;
    width: 13%;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    z-index: 999;
    transition: width 0.3s ease;
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
    position: relative;
}

.sidebar a i {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.sidebar a:hover {
    background-color: #495057;
    padding-left: 25px;
}

.sidebar a:hover i {
    transform: rotate(20deg);
}

.sidebar a.active {
    background-color: #007bff;
}

.content {
    margin-left: 15%;
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    display: flex;
}

.content.collapsed {
    margin-left: 0;
}

.card-container {
    margin-left: 30%;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    /* display: flex; */
    flex-direction: column;
}

#realtime-data {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

th {
    background-color: #e56e07;
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) td {
    background-color: #ebebeb;
}

tr:hover td {
    background-color: #d1e0e0;
    color: #0056b3;
}

.product-img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.action-buttons button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #0056b3;
    color: white;
}

.action-buttons button.edit-btn:hover {
    background-color: #007bff;
}

.action-buttons button.delete-btn:hover {
    background-color: #dc3545;
}

#addRegisterBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#addRegisterBtn:hover {
    background-color: #ee4e0f;
}

#exportExcelBtn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('../../static/img/icons8-excel-48.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#exportExcelBtn:hover {
    background-color: #218838;
}

.context-menu {
    width: 5%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.context-menu ul li:hover {
    background-color: #e0e0e0;
    color: #007bff;
}

.table-responsive {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
}

.table-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.table-pagination button {
    width: 100px;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #e56e07;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-pagination button:hover {
    background-color: #d45407;
}

#staff-table,
#calendar {
    margin-top: 20px;
    display: none;
}

#add-staff-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    line-height: 60px;
}

#add-staff-btn:hover {
    background-color: #218838;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.modal-body label {
    font-weight: bold;
}

.form-control.short {
    width: 400px;
    display: inline-block;
}
#dayfromdayto{
    width: 600px;
}
.form-group {
    margin: 10px 0;
}

.calendar {
    border-collapse: collapse;
    width: 100%;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.calendar thead tr:first-child th {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #fd7e14;
    color: white;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

.calendar thead tr:last-child th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.calendar th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    vertical-align: top;
    position: relative;
}

.date-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px;
}

.date-label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.timekeeping {
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

.date-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}