body {
    font-family: Arial, sans-serif;
    background-image: url('../../static/img/background_dash2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
    position: relative;
    font-size: 18px;
    padding: 10px;
}

.notification-icon {
    width: 24px;
    height: auto;
}

.account-icon {
    width: 24px;
    height: auto;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #cccccc;
}

.sidebar {
    height: 100%;
    width: 13%;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    z-index: 999;
    transition: width 0.3s ease;
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
    position: relative;
}

.sidebar a i {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.sidebar a:hover {
    background-color: #495057;
    padding-left: 25px;
}

.sidebar a:hover i {
    transform: rotate(20deg);
}

.sidebar a.active {
    background-color: #007bff;
}

.content {
    margin-left: 15%;
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    display: flex;
}

.content.collapsed {
    margin-left: 0;
}

.card-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
