body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #007bff;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s ease;
}
.sidebar a:hover {
    background-color: #0056b3;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.content h1 {
    color: #333;
}
.content p {
    color: #666;
}
#realtime-data {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
    color: #333;
}
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* CSS mới để hiển thị các ô input trên cùng một dòng với chiều ngang nhỏ hơn */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Thêm khoảng cách giữa các hàng */
}

.form-row div {
    width: 48%; /* Điều chỉnh độ rộng để hai ô input nằm trên cùng một dòng */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 18%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
