body {
    font-family: Arial, sans-serif;
    background-image: url('../../static/img/background_dash2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
    position: relative;
    font-size: 18px;
    padding: 10px;
}

.notification-icon,
.account-icon {
    width: 24px;
    height: auto;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #cccccc;
}

.sidebar {
    height: 100%;
    width: 13%;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    z-index: 999;
    transition: width 0.3s ease;
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
    position: relative;
}

.sidebar a i {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.sidebar a:hover {
    background-color: #495057;
    padding-left: 25px;
}

.sidebar a:hover i {
    transform: rotate(20deg);
}

.sidebar a.active {
    background-color: #007bff;
}

.content {
    margin-left: 15%;
    margin-top: 80px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    display: flex;
}

.content.collapsed {
    margin-left: 0;
}

.card-container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex-direction: column;
}

#realtime-data {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

th {
    background-color: #e56e07;
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) td {
    background-color: #ebebeb;
}

tr:hover td {
    background-color: #d1e0e0;
    color: #0056b3;
}

.product-img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.action-buttons button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #0056b3;
    color: white;
}

.action-buttons button.edit-btn:hover {
    background-color: #007bff;
}

.action-buttons button.delete-btn:hover {
    background-color: #dc3545;
}

#addRegisterBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#addRegisterBtn:hover {
    background-color: #ee4e0f;
}

#exportExcelBtn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('../../static/img/icons8-excel-48.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#exportExcelBtn:hover {
    background-color: #218838;
}
.modal {
    display: none; 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    overflow: hidden; 
}
.modal-content {
    background-color: #fff;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1000px;
    max-height: 80%;
    overflow-y: auto; 
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; 
}
.modal-content {
    padding: 20px;
}

.modal-title {
    color: #333;
    margin-bottom: 20px;
}

.modal label {
    font-weight: bold;
    color: #333;
}
.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.form-control:focus {
    border-color: #007bff;
    background-color: #fff;
}

.close {
    font-size: 30px;
    font-weight: bold;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close:hover,
.close:focus {
    color: #000;
}

.btn-primary {
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #45a049;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 0 0 100px;
    margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1;
    padding: 5px;
}

.context-menu {
    width: 5%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.context-menu ul li:hover {
    background-color: #e0e0e0;
    color: #007bff;
}

.table-responsive {
    max-height: fit-content;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
}

.table-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.table-pagination button {
    width: 100px;
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #e56e07;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-pagination button:hover {
    background-color: #d45407;
}
h1 {
    margin-bottom: 20px; 
}
.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary h3 {
    margin-bottom: 15px;
}

.summary p {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.btn {
    
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    width: 250px;
}

#addTreasury {
    background-color: #28a745;
    border: 1px solid #28a745;
}

#addTreasury:hover {
    background-color: #218838;
    border: 1px solid #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#addTreasury:active {
    background-color: #1e7e34;
    border: 1px solid #1e7e34;
}

.btn-container {
    display: flex;
    gap: 10px; 
    margin-top: 20px; 
}


#exportCSV {
    background-color: #28a745;
    border: 1px solid #28a745;
}

#exportCSV:hover {
    background-color: #218838;
    border: 1px solid #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#exportCSV:active {
    background-color: #1e7e34;
    border: 1px solid #1e7e34;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}   
.notification-popup {
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 300px; 
    z-index: 1000;
}

.notification-popup .table {
    margin-bottom: 0; 
    border-collapse: collapse;
    border-spacing: 0; 
    width: 100%; 
}

.notification-popup .table thead {
    display: none;
}

.notification-popup .table, 
.notification-popup .table td {
    border: none; 
    padding: 10px;
    vertical-align: middle;
}

.notification-popup .table tbody tr:hover {
    background-color: #f1f1f1; 
}

.notification-popup .table tbody tr {
    border-bottom: none; 
}