<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách hàng hóa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/noti.css">
</head>

<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/logo_login.png" alt="Logo" style="width: 40px; margin-right: 10px;">
            Thanh Hải Store
            <img src="../../static/img/more.png" alt="More" id="toggleSidebar"
                style="width: 40px; margin-right: 10px; cursor: pointer;">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div id="notification-icon">
                        <img src="../../static/img/notification.png" alt="Thông báo" class="notification-icon">
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <img src="../../static/img/user.png" alt="Tài khoản" class="account-icon">
                </a>
            </li>
        </ul>
    </nav>
    <div id="notification-popup" style="display: none;">
        <table id="notification-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="notification-body">
            </tbody>
        </table>
    </div>
    <div class="sidebar" id="sidebar">
        <a href="/overview" ><i class="fas fa-tachometer-alt"></i> Tổng quan</a>
        <a href="/product" class="active"><i class="fas fa-box-open"></i> Hàng hóa</a>
        <a href="/transaction"><i class="fas fa-exchange-alt"></i> Giao dịch</a>
        <a href="/treasury"><i class="fas fa-wallet"></i> Sổ quỹ</a>
        <a href="/report"><i class="fas fa-chart-line"></i> Báo cáo</a>
        <a href="/staff"><i class="fas fa-users"></i> Nhân viên</a>
    </div>
    <div id="contextMenu" class="context-menu" style="display: none;">
        <ul>
            <li id="editOption">Sửa</li>
            <li id="deleteOption">Xóa</li>
        </ul>
    </div>
    <div class="content" id="content">
        <div class="card-container">
            <div class="main-content">
                <h1>Danh sách hàng hóa</h1>
                <div class="table-responsive">
                    <table id="productTable">
                        <thead>
                            <tr>
                                <th>Mã hàng</th>
                                <th>Mã vạch</th>
                                <th>Tên hàng</th>
                                <th>Thương hiệu</th>
                                <th>Màu</th>
                                <th>Size</th>
                                <th>Giá vốn</th>
                                <th>Giá bán</th>
                                <th>Tồn kho</th>
                                <th>Đơn vị</th>
                                <th>Ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr data-id="{{ product.id_product }}">
                                <td class="plu-cell" data-id="{{ product.id_product }}">
                                    {{ product.plu }}
                                </td>
                                <td>{{ product.barcode }}</td>
                                <td>{{ product.nameproduct }}</td>
                                <td>{{ product.brand }}</td>
                                <td>{{ product.color }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.costcapital }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.inventory }}</td>
                                <td>{{ product.unit }}</td>
                                <td>
                                    {% if product.path_image %}
                                    <img src="{{ product.path_image }}" alt="Product Image" class="product-img">
                                    {% else %}
                                    Không có ảnh
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                    <button id="prevPageBtn">&laquo; Trước</button>
                    <span id="currentPage">Trang 1</span>
                    <button id="nextPageBtn">Sau &raquo;</button>
                </div>
            </div>
        </div>
    </div>

    <button id="addRegisterBtn" class="icon-btn">+<span class="tooltip">Thêm sản phẩm</span></button>
    <button id="exportExcelBtn" class="icon-btn">        <span class="tooltip">Xuất file</span></button>

    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('updateModal')">&times;</span>
            <h2>Sửa Đăng Ký</h2>
            <form id="updateProductForm" method="POST">
                <input type="hidden" id="update_id_product" name="id_product">
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="update_plu">Mã hàng:</label>
                        <input type="text" id="update_plu" name="plu">
                    </div>
                    <div class="form-group">
                        <label for="update_barcode">Mã vạch:</label>
                        <input type="text" id="update_barcode" name="barcode">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="update_nameproduct">Tên hàng:</label>
                        <input type="text" id="update_nameproduct" name="nameproduct">
                    </div>
                    <div class="form-group">
                        <label for="update_groupproduct">Nhóm hàng:</label>
                        <select id="update_groupproduct" name="groupproduct" required>
                            <option value="aocontrai">Áo con trai</option>
                            <option value="aocongai">Áo con gái</option>
                            <option value="quancontrai">Quần con trai</option>
                            <option value="quancongai">Quần con gái</option>
                            <option value="vay">Váy</option>
                            <option value="khac">Khác</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="update_brand">Thương hiệu:</label>
                        <input type="text" id="update_brand" name="brand">
                    </div>
                    <div class="form-group">
                        <label for="update_costcapital">Giá vốn:</label>
                        <input type="text" id="update_costcapital" name="costcapital">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="update_price">Giá bán:</label>
                        <input type="text" id="update_price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="update_inventory">Tồn kho:</label>
                        <input type="text" id="update_inventory" name="inventory">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="update_color">Màu:</label>
                        <input type="text" id="update_color" name="color">
                    </div>
                    <div class="form-group">
                        <label for="update_size">Size:</label>
                        <select id="update_size" name="size" required>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="update_unit">Đơn vị:</label>
                        <input type="text" id="update_unit" name="unit">
                    </div>
                    <div class="form-group">
                        <label for="update_path_image">Ảnh sản phẩm:</label>
                        <input type="file" id="update_path_image" name="path_image">
                    </div>
                </div>
                <button type="submit" id="submitUpdateBtn">Cập Nhật</button>
            </form>
        </div>
    </div>

    <div id="addProduct" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addProduct')">&times;</span>
            <h2>Thêm Hàng Hóa</h2>
            <form id="addProductForm" method="POST" enctype="multipart/form-data">
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="plu">Mã hàng:</label>
                        <input type="text" id="plu" name="plu">
                    </div>
                    <div class="form-group">
                        <label for="barcode">Mã vạch:</label>
                        <input type="text" id="barcode" name="barcode">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="nameproduct">Tên hàng:</label>
                        <input type="text" id="nameproduct" name="nameproduct">
                    </div>
                    <div class="form-group">
                        <label for="groupproduct">Nhóm hàng:</label>
                        <select id="groupproduct" name="groupproduct" required>
                            <option value="aocontrai">Áo con trai</option>
                            <option value="aocongai">Áo con gái</option>
                            <option value="quancontrai">Quần con trai</option>
                            <option value="quancongai">Quần con gái</option>
                            <option value="vay">Váy</option>
                            <option value="khac">Khác</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="brand">Thương hiệu:</label>
                        <input type="text" id="brand" name="brand">
                    </div>
                    <div class="form-group">
                        <label for="costcapital">Giá vốn:</label>
                        <input type="text" id="costcapital" name="costcapital">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="price">Giá bán:</label>
                        <input type="text" id="price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="inventory">Tồn kho:</label>
                        <input type="text" id="inventory" name="inventory">
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="color">Màu:</label>
                        <input type="text" id="color" name="color">
                    </div>
                    <div class="form-group">
                        <label for="size">Size:</label>
                        <select id="size" name="size" required>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group">
                        <label for="unit">Đơn vị:</label>
                        <input type="text" id="unit" name="unit">
                    </div>
                    <div class="form-group">
                        <label for="path_image">Ảnh sản phẩm:</label>
                        <input type="file" id="path_image" name="path_image">
                    </div>
                </div>
                <button type="submit">Thêm</button>
            </form>
        </div>
    </div>
    <!-- <p id="realtime-data"></p> -->
    <script src="../../static/script/product.js"></script>
    <script src="../../static/script/script.js"></script>
</body>

</html>