<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>Danh sách hàng hóa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/noti.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>

<body>
    {% include 'navbar.html' %}
    <div id="notification-popup" style="display: none;">
        <table id="notification-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="notification-body">
            </tbody>
        </table>
    </div>
    <div class="sidebar" id="sidebar">
        <a href="/overview" ><i class="fas fa-tachometer-alt"></i> Tổng quan</a>
        <a href="/product" class="active"><i class="fas fa-box-open"></i> Hàng hóa</a>
        <a href="/transaction"><i class="fas fa-exchange-alt"></i> Giao dịch</a>
        <a href="/treasury"><i class="fas fa-wallet"></i> Sổ quỹ</a>
        <a href="/report"><i class="fas fa-chart-line"></i> Báo cáo</a>
        <a href="/staff"><i class="fas fa-users"></i> Nhân viên</a>
    </div>
    <div id="contextMenu" class="context-menu" style="display: none;">
        <ul>
            <li id="editOption">Sửa</li>
            <li id="deleteOption">Xóa</li>
        </ul>
    </div>
    <div class="content" id="content">
        <div class="card-container">
            <div class="main-content">
                <h1>Danh sách hàng hóa</h1>
                <div class="table-responsive">
                    <table id="productTable">
                        <thead>
                            <tr>
                                <th>Mã hàng</th>
                                <th>Mã vạch</th>
                                <th>Tên hàng</th>
                                <th>Thương hiệu</th>
                                <th>Màu</th>
                                <th>Size</th>
                                <th>Giá vốn</th>
                                <th>Giá bán</th>
                                <th>Tồn kho</th>
                                <th>Đơn vị</th>
                                <th>Ảnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr data-id="{{ product.id_product }}">
                                <td class="plu-cell" data-id="{{ product.id_product }}">
                                    {{ product.plu }}
                                </td>
                                <td>{{ product.barcode }}</td>
                                <td>{{ product.nameproduct }}</td>
                                <td>{{ product.brand }}</td>
                                <td>{{ product.color }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.costcapital }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.inventory }}</td>
                                <td>{{ product.unit }}</td>
                                <td>
                                    {% if product.path_image %}
                                    <img src="{{ product.path_image }}" alt="Product Image" class="product-img">
                                    {% else %}
                                    Không có ảnh
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                    <button id="prevPageBtn">&laquo; Trước</button>
                    <span id="currentPage">Trang 1</span>
                    <button id="nextPageBtn">Sau &raquo;</button>
                </div>
            </div>
        </div>
    </div>

    <button id="addRegisterBtn" class="icon-btn">+<span class="tooltip">Thêm sản phẩm</span></button>
    <button id="exportExcelBtn" class="icon-btn">        <span class="tooltip">Xuất file</span></button>

    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('updateModal')">&times;</span>
            <h2>Sửa Đăng Ký</h2>
            <form id="updateProductForm" method="POST">
                <input type="hidden" id="update_id_product" name="id_product">
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <input type="text" id="update_plu" class = "input-box" name="plu" placeholder="">
                        <label for="update_plu" style="color: gray;">Mã hàng</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" id="update_barcode" class = "input-box" name="barcode">
                        <label for="update_barcode" style="color: gray;">Mã vạch</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <input type="text" class ="input-box" placeholder="" id="update_nameproduct" name="nameproduct">
                        <label for="update_nameproduct"  style="color: gray;">Tên hàng:</label>
                    </div>
                    <div class="form-group floating-label">

                        <select class ="input-box" placeholder="" id="update_groupproduct" name="groupproduct" required>
                            <option value="aocontrai">Áo con trai</option>
                            <option value="aocongai">Áo con gái</option>
                            <option value="quancontrai">Quần con trai</option>
                            <option value="quancongai">Quần con gái</option>
                            <option value="vay">Váy</option>
                            <option value="khac">Khác</option>
                        </select>
                        <label for="update_groupproduct"  style="color: gray;" >Nhóm hàng:</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">

                        <input type="text" class ="input-box" placeholder="" id="update_brand" name="brand">
                        <label for="update_brand"  style="color: gray;">Thương hiệu:</label>
                    </div>
                    <div class="form-group floating-label">

                        <input type="text" class ="input-box" placeholder="" id="update_costcapital" name="costcapital">
                        <label for="update_costcapital"  style="color: gray;">Giá vốn:</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">

                        <input type="text" class ="input-box" placeholder="" id="update_price" name="price">
                        <label for="update_price"  style="color: gray;">Giá bán:</label>
                    </div>
                    <div class="form-group floating-label">

                        <input type="text" class ="input-box" placeholder="" id="update_inventory" name="inventory">
                        <label for="update_inventory"  style="color: gray;">Tồn kho:</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">

                        <input type="text" class ="input-box" placeholder="" id="update_color" name="color">
                        <label for="update_color"  style="color: gray;">Màu:</label>
                    </div>
                    <div class="form-group floating-label">

                        <select id="update_size" class ="input-box" placeholder="" name="size" required>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                        </select>
                        <label for="update_size"  style="color: gray;">Size:</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">

                        <input type="text" class ="input-box" placeholder="" id="update_unit" name="unit">
                        <label for="update_unit"  style="color: gray;">Đơn vị:</label>
                    </div>
                    <div class="form-group floating-label">

                        <input type="file" class ="input-box" placeholder="" id="update_path_image" name="path_image">
                        <label for="update_path_image"  style="color: gray;">Ảnh sản phẩm:</label>
                    </div>
                </div>
                <button type="submit" id="submitUpdateBtn">Cập Nhật</button>
            </form>
        </div>
    </div>

    <div id="addProduct" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addProduct')">&times;</span>
            <h2>Thêm Hàng Hóa</h2>
            <form id="addProductForm" method="POST" enctype="multipart/form-data">
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="barcode" name="barcode" placeholder="">
                        <label for="barcode" style="color: gray;" >Mã vạch</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="nameproduct" name="nameproduct" placeholder="">
                        <label for="nameproduct" style="color: gray;">Tên hàng</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <!-- <label for="groupproduct" >Nhóm hàng</label> -->
                        <select id="groupproduct" class="input-box" name="groupproduct"  required>
                            <option value="aocontrai">Áo con trai</option>
                            <option value="aocongai">Áo con gái</option>
                            <option value="quancontrai">Quần con trai</option>
                            <option value="quancongai">Quần con gái</option>
                            <option value="vay">Váy</option>
                            <option value="khac">Khác</option>
                        </select>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="brand" name="brand" placeholder="">
                        <label for="brand" style="color: gray;">Thương hiệu</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="costcapital" name="costcapital" placeholder="">
                        <label for="costcapital" style="color: gray;">Giá vốn</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="price" name="price" placeholder="">
                        <label for="price" style="color: gray;">Giá bán</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="inventory" name="inventory" placeholder="">
                        <label for="inventory" style="color: gray;" >Tồn kho</label>
                    </div>
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="color" name="color" placeholder="">
                        <label for="color" style="color: gray;">Màu</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <!-- <label for="size">Size:</label> -->
                        <select id="size" class="input-box" name="size" required>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                        </select>

                    </div>
                    <div class="form-group floating-label">
                        <input type="text" class="input-box" id="unit" name="unit" placeholder="">
                        <label for="unit" style="color: gray;">Đơn vị</label>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="form-group floating-label">
                        <!-- <label for="path_image" >Ảnh sản phẩm</label> -->
                        <input type="file" class="input-box" id="path_image" name="path_image">
                    </div>
                </div>
                <button type="submit">Thêm</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.fonts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="../../static/script/product.js"></script>
    <script src="../../static/script/script.js"></script>
</body>

</html>