<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo cáo hàng hóa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/report.css">
    <link rel="stylesheet" href="../../static/css/noti.css">
</head>

<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/logo_login.png" alt="Logo" style="width: 40px; margin-right: 10px;">
            Thanh Hải Store
            <img src="../../static/img/more.png" alt="More" id="toggleSidebar"
                style="width: 40px; margin-right: 10px; cursor: pointer;">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div id="notification-icon">
                        <img src="../../static/img/notification.png" alt="Thông báo" class="notification-icon">
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <img src="../../static/img/user.png" alt="Tài khoản" class="account-icon">
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar" id="sidebar">
        <a href="/overview"><i class="fas fa-tachometer-alt"></i> Tổng quan</a>
        <a href="/product"><i class="fas fa-box-open"></i> Hàng hóa</a>
        <a href="/transaction"><i class="fas fa-exchange-alt"></i> Giao dịch</a>
        <a href="/treasury"><i class="fas fa-wallet"></i> Sổ quỹ</a>
        <a href="/report" class="active"><i class="fas fa-chart-line"></i> Báo cáo</a>
        <a href="/staff"><i class="fas fa-users"></i> Nhân viên</a>
    </div>

    <div class="content" id="content">
        <div class="card-container">
            <div class="main-content">
                <h1>Báo cáo cuối ngày</h1>
                <select id="reportSelect" class="form-control">
                    <option value="">Chọn báo cáo</option>
                    <option value="/report_import">Báo cáo nhập hàng</option>
                    <option value="/report_product">Báo cáo bán hàng</option>
                    <option value="/report_customer">Báo cáo khách hàng</option>
                </select>

                <div id="report-result">
                    <div class="header-title">Kết quả báo cáo</div>
                    <table id="reportTable" class="table table-bordered">
                        <thead id="reportHeader">

                        </thead>
                        <tbody id="reportContent">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="notification-popup" style="display: none;">
        <table id="notification-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="notification-body">
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('reportSelect').addEventListener('change', function () {
            var selectedEndpoint = this.value;
            if (selectedEndpoint) {
                fetch(selectedEndpoint, {
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(data => {
                        let reportContent = '';
                        let reportHeader = '';

                        if (selectedEndpoint === '/report_product') {
                            reportHeader = `
                                <tr>
                                    <th class="text-center">Mã hàng</th>
                                    <th>Tên hàng</th>
                                    <th class="text-center">Số lượng bán</th>
                                    <th class="text-center">Giá vốn</th>
                                    <th class="text-center">Giá bán</th>
                                    <th class="text-center">Doanh thu</th>
                                </tr>
                            `;
                            data.forEach(item => {
                                reportContent += `
                                    <tr>
                                        <td class="text-center">${item.id_product}</td>
                                        <td>${item.nameproduct}</td>
                                        <td class="text-center">${item.quantity_sold}</td>
                                        <td class="text-center">${item.costcapital.toLocaleString()}</td>
                                        <td class="text-center">${item.price.toLocaleString()}</td>
                                        <td class="text-center">${item.revenue.toLocaleString()}</td>
                                    </tr>
                                `;
                            });
                        } else if (selectedEndpoint === '/report_customer') {
                            reportHeader = `
                                <tr>
                                    <th class="text-center">Tên khách hàng</th>
                                    <th class="text-center">Số điện thoại</th>
                                    <th class="text-center">Loại khách hàng</th>
                                    <th class="text-center">Số mặt hàng mua</th>
                                    <th class="text-center">Số lượng sản phẩm đã mua</th>
                                    <th class="text-center">Tổng số tiền đã trả</th>
                                </tr>
                            `;
                            data.forEach(item => {
                                reportContent += `
                                    <tr>
                                        <td class="text-center">${item.name_customer}</td>
                                        <td class="text-center">${item.phone_customer}</td>
                                        <td class="text-center">${item.type_customer}</td>
                                        <td class="text-center">${item.items_purchased}</td>
                                        <td class="text-center">${item.total_quantity}</td>
                                        <td class="text-center">${item.total_paid.toLocaleString()}</td>
                                    </tr>
                                `;
                            });
                        }else if (selectedEndpoint === '/report_import') {
                            reportHeader = `
                                <tr>
                                    <th class="text-center">Tên nhà cung cấp</th>
                                    <th class="text-center">Số điện thoại</th>
                                    <th class="text-center">Loại nhà cung cấp</th>
                                    <th class="text-center">Số mặt hàng nhập</th>
                                    <th class="text-center">Số lượng sản phẩm đã nhập</th>
                                    <th class="text-center">Tổng số tiền phải trả</th>
                                </tr>
                            `;
                            data.forEach(item => {
                                reportContent += `
                                    <tr>
                                        <td class="text-center">${item.name_supplier}</td>
                                        <td class="text-center">${item.phone_supplier}</td>
                                        <td class="text-center">${item.type_supplier}</td>
                                        <td class="text-center">${item.items_purchased}</td>
                                        <td class="text-center">${item.total_quantity}</td>
                                        <td class="text-center">${item.total_amount.toLocaleString()}</td>
                                    </tr>
                                `;
                            });
                        }


                        document.getElementById('reportHeader').innerHTML = reportHeader;
                        document.getElementById('reportContent').innerHTML = reportContent;
                        document.getElementById('report-result').style.display = 'block';
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('reportContent').innerHTML = '<tr><td colspan="6" class="text-center">Có lỗi xảy ra khi lấy dữ liệu báo cáo.</td></tr>';
                        document.getElementById('report-result').style.display = 'block';
                    });
            } else {
                document.getElementById('report-result').style.display = 'none';
            }
        });
        document.getElementById('toggleSidebar').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('content');
            sidebar.classList.toggle('collapsed');
            content.classList.toggle('collapsed');
        });
    </script>
    <script src="../../static/script/script.js"></script>
</body>

</html>