<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao dịch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/transaction.css">
</head>

<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/logo_login.png" alt="Logo" style="width: 40px; margin-right: 10px;">
            Thanh Hải Store
            <img src="../../static/img/more.png" alt="More" id="toggleSidebar"
                style="width: 40px; margin-right: 10px; cursor: pointer;">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div id="notification-icon">
                        <img src="../../static/img/notification.png" alt="Thông báo" class="notification-icon">
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <img src="../../static/img/user.png" alt="Tài khoản" class="account-icon">
                </a>
            </li>
        </ul>
    </nav>
    <div id="notification-popup" class="notification-popup" style="display: none;">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="notification-body">
            </tbody>
        </table>
    </div>

    <div class="sidebar" id="sidebar">
        <a href="/overview"><i class="fas fa-tachometer-alt"></i> Tổng quan</a>
        <a href="/product"><i class="fas fa-box-open"></i> Hàng hóa</a>
        <a href="/transaction" class="active"><i class="fas fa-exchange-alt"></i> Giao dịch</a>
        <a href="/treasury"><i class="fas fa-wallet"></i> Sổ quỹ</a>
        <a href="/report"><i class="fas fa-chart-line"></i> Báo cáo</a>
        <a href="/staff"><i class="fas fa-users"></i> Nhân viên</a>
    </div>
    
    <div class="content" id="content">
        <div class="card-container">
            <div class="main-content">
                <h1>Quản lý giao dịch</h1>
                <div class="btn-container">
                    <button id="addBillExport" class="btn btn-primary mb-3" onclick="openNewTabExport()">Bán Hàng</button>
                    <button id="addBillImport" class="btn btn-primary mb-3" onclick="openNewTabImport()">Nhập Hàng</button>
                </div>

                <div class="table-responsive">
                    <table id="productTable">
                        <thead>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Loại giao dịch</th>
                                <th>Thời gian</th>
                                <th>Loại khách hàng</th>
                                <th>Loại nhà cung cấp</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền hàng</th>
                                <th>Giảm giá(%)</th>
                                <th>Tổng sau giảm giá</th>
                                <th>Khách đã trả</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in bills %}
                            <tr data-id="{{ bill.id_bill }}">
                                <td>{{ bill.code_bill or '' }}</td>
                                <td>{{ bill.type_transaction or '' }}</td>
                                <td>{{ bill.date or '' }}</td>
                                <td>{{ bill.type_customer or '' }}</td>
                                <td>{{ bill.type_supplier or '' }}</td>
                                <td>{{ bill.quantity or '' }}</td>
                                <td>{{ bill.totalprice or '' }}</td>
                                <td>{{ bill.discount or '' }}</td>
                                <td>{{ bill.afterdiscount or '' }}</td>
                                <td>{{ bill.customerpaid or '' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <div class="table-pagination">
                    <button id="prevPageBtn">&laquo; Trước</button>
                    <span id="currentPage">Trang 1</span>
                    <button id="nextPageBtn">Sau &raquo;</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/script/transaction.js"></script>
    <script src="../../static/script/script.js"></script>
</body>

</html>