<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sổ quỹ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/treasury.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/logo_login.png" alt="Logo" style="width: 40px; margin-right: 10px;">
            Thanh Hải Store
            <img src="../../static/img/more.png" alt="More" id="toggleSidebar"
                style="width: 40px; margin-right: 10px; cursor: pointer;">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div id="notification-icon">
                        <img src="../../static/img/notification.png" alt="Thông báo" class="notification-icon">
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <img src="../../static/img/user.png" alt="Tài khoản" class="account-icon">
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar" id="sidebar">
        <a href="/overview"><i class="fas fa-tachometer-alt"></i> Tổng quan</a>
        <a href="/product"><i class="fas fa-box-open"></i> Hàng hóa</a>
        <a href="/transaction"><i class="fas fa-exchange-alt"></i> Giao dịch</a>
        <a href="/treasury" class="active"><i class="fas fa-wallet"></i> Sổ quỹ</a>
        <a href="/report"><i class="fas fa-chart-line"></i> Báo cáo</a>
        <a href="/staff"><i class="fas fa-users"></i> Nhân viên</a>
    </div>
    <div id="contextMenu" class="context-menu" style="display: none;">
        <ul>
            <li id="editOption">Sửa</li>
            <li id="deleteOption">Xóa</li>
        </ul>
    </div>
    <div class="content" id="content">
        <div class="card-container">
            <div class="main-content">
                <h1>Sổ quỹ</h1>
                <div class="summary">
                    <p>Số tiền đầu kỳ: {{ opening_balance }}</p>
                    <p>Tổng thu: {{ total_income }}</p>
                    <p>Tổng chi: {{ total_expense }}</p>
                    <p>Tồn quỹ: {{ closing_balance }}</p>
                </div>
                <div class="btn-container">
                    <button id="addTreasury" class="btn btn-primary mb-3" data-toggle="modal"
                        data-target="#treasuryModal">Lập phiếu thu/chi</button>
                    <button id="exportFile" class="btn btn-primary mb-3">Xuất File</button>
                </div>

                <div class="table-responsive">
                    <table id="productTable">
                        <thead>
                            <tr>
                                <th>Mã phiếu</th>
                                <th>Thời gian</th>
                                <th>Người tạo</th>
                                <th>Loại thu chi</th>
                                <th>Người nhận</th>
                                <th>Người nộp</th>
                                <th>Giá trị</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for treasury in treasurys %}
                            <tr data-id="{{ treasury.id_treasury }}">
                                <td>{{ treasury.code_treasury }}</td>
                                <td>{{ treasury.date }}</td>
                                <td>{{ treasury.user_create }}</td>
                                <td>{{ treasury.type_treasury }}</td>
                                <td>{{ treasury.receiver }}</td>
                                <td>{{ treasury.submitter }}</td>
                                <td>{{ treasury.value }}</td>
                                <td>{{ treasury.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                    <button id="prevPageBtn">&laquo; Trước</button>
                    <span id="currentPage">Trang 1</span>
                    <button id="nextPageBtn">Sau &raquo;</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="treasuryModal" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="treasuryModalLabel">Lập phiếu thu/chi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="treasuryForm">
                            <div class="form-group">
                                <label for="datetime">Thời gian</label>
                                <input type="datetime-local" class="form-control" id="datetime" name="datetime">
                            </div>
                            <div class="form-group">
                                <label for="type_treasury">Loại thu/chi</label>
                                <select class="form-control" id="type_treasury" name="type_treasury"
                                    onchange="toggleReceiverSubmitter()">
                                    <option value="">Chọn loại thu/chi</option>
                                    <option value="Chi tiền">Chi tiền</option>
                                    <option value="Thu tiền">Thu tiền</option>
                                </select>
                            </div>
                            <div class="form-group" id="receiver-group">
                                <label for="receiver">Tên người nhận</label>
                                <input type="text" class="form-control" id="receiver" name="receiver"
                                    placeholder="Tìm kiếm">
                            </div>
                            <div class="form-group" id="submitter-group">
                                <label for="submitter">Tên người nộp</label>
                                <input type="text" class="form-control" id="submitter" name="submitter"
                                    placeholder="Tìm kiếm">
                            </div>
                            <div class="form-group">
                                <label for="value">Giá trị</label>
                                <input type="number" class="form-control" id="value" name="value" placeholder="0">
                            </div>
                            <div class="form-group">
                                <label for="notes">Ghi chú</label>
                                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                            </div>
                            <div class="btn-container">
                                <button type="button" class="btn btn-primary" onclick="submitForm()">Lưu</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editTreasuryModal" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTreasuryModalLabel">Sửa phiếu thu/chi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editTreasuryForm">
                            <div class="form-group">
                                <label for="edit_datetime">Thời gian</label>
                                <input type="datetime-local" class="form-control" id="edit_datetime" name="datetime">
                            </div>
                            <div class="form-group">
                                <label for="edit_type_treasury">Loại thu/chi</label>
                                <select class="form-control" id="edit_type_treasury" name="type_treasury">
                                    <option value="">Chọn loại thu/chi</option>
                                    <option value="Chi tiền">Chi tiền</option>
                                    <option value="Thu tiền">Thu tiền</option>
                                </select>
                            </div>
                            <div class="form-group" id="edit_user_create-group">
                                <label for="edit_user_create">Người tạo</label>
                                <input type="text" class="form-control" id="edit_user_create" name="user_create">
                            </div>
                            <div class="form-group" id="edit_receiver-group">
                                <label for="edit_receiver">Tên người nhận</label>
                                <input type="text" class="form-control" id="edit_receiver" name="receiver"
                                    placeholder="Tìm kiếm">
                            </div>
                            <div class="form-group" id="edit_submitter-group">
                                <label for="edit_submitter">Tên người nộp</label>
                                <input type="text" class="form-control" id="edit_submitter" name="submitter"
                                    placeholder="Tìm kiếm">
                            </div>
                            <div class="form-group">
                                <label for="edit_value">Giá trị</label>
                                <input type="number" class="form-control" id="edit_value" name="value" placeholder="0">
                            </div>
                            <div class="form-group">
                                <label for="edit_notes">Ghi chú</label>
                                <textarea class="form-control" id="edit_notes" name="notes" rows="3"></textarea>
                            </div>
                            <div class="btn-container">
                                <button type="button" class="btn btn-primary" onclick="updateForm()">Cập nhật</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification-popup" class="notification-popup" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="notification-body">
                </tbody>
            </table>
        </div>

        <script src="../../static/script/treasury.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../../static/script/script.js"></script>
</body>

</html>