<nav class="navbar navbar-custom navbar-expand-lg">
    <a class="navbar-brand" href="#" id="navbarBrand">
        <img src="../../static/img/logo_login.png" alt="Logo" style="width: 40px; margin-right: 10px; border-radius: 15px;">
        Thanh Hải Store
        <img src="../../static/img/more.png" alt="More" id="toggleSidebar"
            style="width: 40px; margin-right: 10px; cursor: pointer;">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" id="notification2">
                <div id="notification-icon">
                    <img src="../../static/img/notification.png" alt="Thông báo" class="notification-icon">
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">
                <img src="../../static/img/user.png" alt="Tài khoản" class="account-icon">
            </a>
        </li>
    </ul>
</nav>