<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chấm Công Nhân Viên</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/staff_time_keeping.css">
</head>

<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="../../static/img/logo_login.png" alt="Logo" style="width: 40px; margin-right: 10px;">
            Thanh Hải Store
            <img src="../../static/img/more.png" alt="More" id="toggleSidebar"
                style="width: 40px; margin-right: 10px; cursor: pointer;">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/account">
                    <img src="../../static/img/user.png" alt="Tài khoản" class="account-icon">
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar" id="sidebar">
        <a href="/staff_timekeeping" class="active"><i class="fas fa-clock"></i> Chấm công</a>
        <a href="/add_bill_export_page" id="sellLink"><i class="fas fa-cash-register"></i> Bán hàng</a>
        <a href="/add_bill_import_page" id="importLink"><i class="fas fa-truck-loading"></i> Nhập hàng</a>
        <a href="/treasury" id="treasuryLink"><i class="fas fa-money-bill-wave"></i> Giao dịch</a>
    </div>
    <div class="content" id="content">
        <div class="card-container">
            <div class="main-content">
                <h1>Chấm Công Nhân Viên</h1>
                <div class="btn-container">
                    <button id="checkinBtn" class="button-3" role="button">Check-in</button>
                    <button id="checkoutBtn" class="button-3" role="button">Check-out</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var userId = "{{ user_id }}";
        var userType = "{{user_type}}";
        console.log(userId);
        console.log(userType);

        function handleSidebarLinks() {
            const sellLink = document.getElementById('sellLink');
            const importLink = document.getElementById('importLink');
            const treasuryLink = document.getElementById('treasuryLink');

            if (userType === "nhanvienbanhang") {
                sellLink.style.display = 'block';
            } else {
                sellLink.style.display = 'none';
            }

            if (userType === "nhanvienkho") {
                importLink.style.display = 'block';
            } else {
                importLink.style.display = 'none';
            }

            if (userType === "thuquy") {
                treasuryLink.style.display = 'block';
            } else {
                treasuryLink.style.display = 'none';
            }
        }

        handleSidebarLinks();

        document.getElementById('checkinBtn').addEventListener('click', function () {
            if (userId) {
                fetch(`/checkin/${userId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => alert(data.message))
                    .catch(error => console.error('Lỗi:', error));
            } else {
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }
        });

        document.getElementById('checkoutBtn').addEventListener('click', function () {
            if (userId) {
                fetch(`/checkout/${userId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => alert(data.message))
                    .catch(error => console.error('Lỗi:', error));
            } else {
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }
        });

        document.getElementById('toggleSidebar').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('content');
            sidebar.classList.toggle('collapsed');
            content.classList.toggle('collapsed');
        });
    </script>
    <script src="../../static/script/script.js"></script>
</body>

</html>